*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button{
    width: 200px;
    height: 50px;
    border-radius: 17px;
    background-color: brown;
    font-size: 23px;
    color: white;
}
body{
    background-color: rgb(254, 215, 143);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 300px;
}
#text{
    color: white;
    font-size: 30px;
    font-weight: 400;
}
